@import url("//db.onlinewebfonts.com/c/6f6cbe877ab89b84810628a5a5f892d0?family=NeueHaasGroteskDisp+Pro");
.navbar{
    background: rgb(0, 119, 255);

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
   
   
}
.navbar .logo h1{
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-family: NeueHaasGroteskDisp Pro;
}
.navbar ul{
    display: flex;
 
}
.navbar .menuUl li {
   
    display: flex;
text-decoration: none;
padding-left: 10px;
padding-right: 10px;
text-transform: uppercase;

}

.navbar .menuUl li .links_bar{
    text-decoration: none;
    color: white;
    font-family: NeueHaasGroteskDisp Pro;
}
.navbar .Mobile-menuUl{
    display: flex;

}
.navbar .Mobile-menuUl li{
    margin-top: 5px;
    margin-bottom: 10px;
}
.menus{
    visibility: hidden;
    position: absolute;
}
.navbar .Mobile-menuUl{
    display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  height: 100vh;
}
@media (max-width:991px){
    .navbar{
        align-items: flex-start;
        justify-content: space-between;
    }
    .navbar .Mobile-menuUl{
        flex-direction: column;
    }
    .navbar ul {
        display: none ;
    }
    .menus{
        visibility: visible;
        position: relative;
        max-width: 20px;
        margin-right: 5px;
    }
   
    .menus img{
        max-width: 20px;
    }
    .navbar .logo{
       font-size: 8px;
       margin-left: 5px;
    }

}