@import url("//db.onlinewebfonts.com/c/6f6cbe877ab89b84810628a5a5f892d0?family=NeueHaasGroteskDisp+Pro");
.App {
  text-align: center;
}
body::-webkit-scrollbar{
  display: none;
}
.selector p{
  font-family: NeueHaasGroteskDisp Pro;
}
select {
background-color: rgb(0, 119, 255);
color: white;
}